
// Separate Mobile and Desktop
$breakpoint: 900px;

// Color Scheme
$background-color: #00ba68;
$primary-color: #373738;
$text-color: white;

$button-background-color: #00ba68;
$button-background-color-secondary: #00A15A;
$button-text-color: #fff;

$input-background-color: #414141;
$input-text-color: #DCD9E6;
$input-placeholder-color: #757575;